@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');

.form{
    margin-top: 120px;
    font-family:'Josefin Sans', sans-serif;
    font-size: 14px;
    padding-left: 70px;
}
.title{
    color: aliceblue;
}